*{
	margin:0;
	padding:0;
	outline:none;
	box-sizing: border-box;
	list-style:none;
	text-decoration:none;

}

.html{
	font-size: 67.7%;
}

.hamburger-menu{
	width: 3rem;
	height: 3rem;
	position: fixed;
	top: 2rem;
	right: 2rem;
	z-index: 200;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	transition: right 0.7s;
}

.line{
	width: 100%;
	height: 1rem;
	background-color: white;
	box-shadow:0 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.header{
	width: 100%;
	height: 100vh;
	position: relative;
	
}

.img-wrapper{
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,8);
	object-fit: cover;
	animation-name: scale;
	animation-duration: 25s;
	overflow: hidden;
}

@keyframes scale{
	0%{
		transform: scale(1.3 );
	}
	100%{
		transform: scale(1);
	}
}

.sidebar{
	width: 15rem;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background-color: white;
	transition: right 0.5s;
}

.change.sidebar{
	right: 0;
}

.menu{
	position: absolute;
	top: 30%;
	left: 30%;

}

.menu-item{
	text-align: center;
	
}

.menu-link{
	font-family: sans-serif;
	text-align: center;
	font-size: 2.5rem;
	color: orange;

}
.Social-media{
	position:relative;
	width:4rem;
	height: 4rem;
	color:white;
	top:85%;
	left: 50;
	display: flex;
	justify-content: left;
}

.Social-media i{
	font-size: 2rem;
	color: purple;
	margin: 3rem;
}
.banner{
	position: absolute;
	top: 47.7%;
	left: 5%;
}

.banner h2{
	font-size: 45px;
	font-weight: 300;
	color: white;
	width: 50%;
	text-shadow: 0.3rem,0.5rem rgba(0,0,0,8);
}

.banner p{
	color: orange;
	font-size: 25px;
	width: 70%;
}

.banner button{
	width: 18rem;
	height: 4rem;
	color: blue;
}